{% extends 'home.html.twig' %}

{% block title %}Mon compte - La bonne pierre{% endblock %}

{% block content %}
    <div class="container" style="margin-top: 2rem">
        <h1>Mon compte</h1>

        Bonjour {{ app.user.firstname }}, c'est un plaisir de vous revoir !<br>
        <hr>

        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('admin') }}">Administrateur ? Accéder au Backoffice</a> <br>
        {% endif %}
        <a href="{{ path('account_password') }}">Modifier mon mot de passe</a> <br>
        <a href="{{ path('account_adress') }}">Gérer mes adresses</a> <br>
        <a href="{{ path('account_order') }}">Mes Commandes de cailloux</a> <br>

    </div>


{% endblock %}
