{% extends 'base.html.twig' %}

{% block title %} {{ product.name }} {% endblock %}

{% block content %}
    <div>
        <div>
            <img src="/uploads/{{ product.images }}" alt="{{ product.name }}">
        </div>

        <div>
            <h3>{{ product.name }}</h3>
            <p> {{ product.subtitle }}</p>
            <span> {{ (product.price / 100)| number_format(2, ',', '.') }} € </span>
            <hr>
            <p>
                {{ product.description }}
            </p>
        </div>
    </div>
{% endblock %}
