<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
               and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {# {{ encore_entry_link_tags('app') }} #}
        {% endblock %}

        {% block javascripts %}
            {# {{ encore_entry_script_tags('app') }} #}
        {% endblock %}
    </head>

    <body>
    <header>
        <nav>
            <a href="{{ path('home') }}">La bonne pierre</a>
            <div>
                <ul>
                    <li>
                        <a href="{{ path('products') }}">Nos cailloux</a>
                    </li>
                    <li>
                        <a href="#">Quels cailloux sommes-nous ?</a>
                    </li>
                </ul>
            </div>
            <div>
                {% if app.user %}
                    <a href="{{ path('account') }}"> Mon compte</a> |  <a href="{{ path('app_logout') }}"> Déconnexion</a>
                {% else %}
                    <a href="{{ path('app_login') }}"> Connexion</a> |  <a href="{{ path('register') }}"> Inscription</a>
                {% endif %}
            </div>
        </nav>
    </header>

    <main role="main">
        <div>
            {% block content %}
            {% endblock %}
        </div>
    </main>
    </body>

    {% block script %}
    {% endblock %}
</html>
