<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Des cailloux partout">
    <title>La Bonne Pierre</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet">

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    <!-- Custom styles for this template -->
    <link href="{{ asset('assets/css/carousel.css') }}" rel="stylesheet">
</head>
<body>
<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="/">La Bonne Pierre</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Acceuil <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/nos-produits">Les produits <span class="sr-only">(current)</span></a>
                </li>
            </ul>

        </div>
        <div>
{#            {{ dump(app.user) }}#}
            {% if app.user %}
                {% if app.user.roles[0] is same as("ROLE_ADMIN") %}
                    <a href="{{ path('admin') }}"> Dashboard </a> |  <a href="{{ path('app_logout') }}">
                    Déconnexion</a>
                {% elseif app.user %}
                    <a href="{{ path('account') }}"> Mon compte</a> |  <a href="{{ path('app_logout') }}">
                    Déconnexion</a>

                {% endif %}
            {% else %}
                <a href="{{ path('app_login') }}"> Connexion</a> |  <a href="{{ path('register') }}">
                Inscription</a>
            {% endif %}

        </div>
        <a href="{{ path('cart') }}" style="margin-left: 1rem">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-cart"
                 viewBox="0 0 16 16" style="margin-top: -0.2rem">
                <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
            </svg>
        </a>
    </nav>
</header>

<main role="main">


    {% block content %}
    {% endblock %}

    <!-- FOOTER -->
</main>
<div class="text-center text-lg-start footer ">
    <div class="text-center p-3" style="">
        © 2020 Tout droit réservé :
        <a class="text-dark" href="https://www.cailloux-provence.com/">Yves Caillou et son épicerie</a>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="{{ asset('assets/js/bootstrap.bundle.js') }}"></script>
</body>
</html>